:80 {
  root * /usr/share/caddy
  encode gzip
  try_files {path} /index.html
  file_server

  @assets path /assets/*
  header @assets Cache-Control "public, max-age=31536000, immutable"

  header /index.html Cache-Control "no-store"
}